.story-body {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    place-items: center;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
    margin: 0;
    /* background: hsl(200, 15%, 93%) */
    /* parent owned aspects of the responsive stories */
}

.story-body>.stories {
    width: 80vw;
    height: 80vh;
    box-shadow: 0 5px 2.5px hsla(200, 95%, 3%, .037), 0 12px 6.5px hsla(200, 95%, 3%, .053), 0 22.5px 13px hsla(200, 95%, 3%, .065), 0 40.2px 24px hsla(200, 95%, 3%, .077), 0 75.2px 44px hsla(200, 95%, 3%, .093), 0 180px 80px hsla(200, 95%, 3%, .13)
}

@media (hover: hover) {
    .story-body>.stories {
        border-radius: 3ch
    }
}

.story-body>.stories {
    /* desktop constraint */
}

@media (hover: hover) and (min-width: 480px) {
    .story-body>.stories {
        max-width: 480px;
        max-height: 848px
    }
}

.story-body>.stories {
    /* smaller desktop constraint */
}

@media (hover: hover) and (max-height: 880px) and (min-width: 720px) {
    .story-body>.stories {
        max-width: 320px;
        max-height: 568px
    }
}

.stories {
    display: grid;
    grid: 1fr / auto-flow 100%;
    grid-gap: 1ch;
    gap: 1ch;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    touch-action: pan-x;
}

.user {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: grid;
    grid: [story] 1fr / [story] 1fr;
}

.story {
    grid-area: story;
    background-size: cover;
    background-image: var(--bg), linear-gradient(to top, rgb(249, 249, 249), rgb(226, 226, 226));
    user-select: none;
    touch-action: manipulation;
    transition: opacity .3s cubic-bezier(0.4, 0.0, 1, 1)
}

.story.seen {
    opacity: 0;
    pointer-events: none;
}