/* 
  Primary card (Card with variables overridden in local scope)
*/
.card-primary {
    /* Card (light mode only) */
    color: #cfe7fd;
    background-color: #45a3fb;
    /* Card (dark mode only) */
  }
.dark-mode .card-primary{
    color: #45a3fb;
    background-color: #172636;
    border-color: #0d518f;
}


.text-in-vanta{
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
}



  @media only screen and (max-width: 700px) {
      h1{
          font-size: 14px;
      }
      h2{
          font-size: 12px;
      }
      td{
          font-size: 12px;
      }
      th{
          font-size: 12px;
      }
      .card-primary h1{
          font-size: 13px;
      }
      .table-class{
          padding: 0%;
      }
      .index-h1{
          font-size: 30px;
      }
  } 
